ion-tab-button {
  background-color: #f8f8f8;
}

ion-tabs {
  margin-top: 80px; // adjust based upon your needs, this is the material toolbar height i think
  max-height: calc(100vh - 80px); //reduce max height of tab views to adjust for the margin
}
