<ion-tabs>
  <ion-tab-bar slot="bottom" color="">
    <ion-tab-button tab="payment">
      <ion-icon name="home"></ion-icon>
      <ion-label>Registrar Pago</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="report">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Reporte de Pagos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="print">
      <ion-icon name="print"></ion-icon>
      <ion-label>Reimprimir Orden</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="other-concept">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Otros Conceptos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
