<div>
  <nav class="navbar navbar-expand navbar-light app">
    <div class="collapse navbar-collapse"></div>

    <a class="navbar-brand mx-auto" href="#">
      <div id="logo">
        <img src="assets/img/cdsMovil.png" />
      </div>
    </a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown no-arrow">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="userDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <img class="img-profile rounded-circle" src="assets/img/appIconMore.png" />
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
          <a class="dropdown-item" href="#">
            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
            juanchas *****pilas un :TODO
          </a>
          <a class="dropdown-item" href="#">
            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
            Cambiar Contraseña
          </a>
          <a class="dropdown-item" href="#">
            <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
            Probar impresora
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
            Cerrar sesión
          </a>
        </div>
      </li>
    </ul>
  </nav>

  <div class="navbar navbar-default navbar-fixed-top subHeader">
    <div class="navbar-header">
      <div class="container">{{ title }}</div>
    </div>
  </div>

  <!-- <ModalChangePassword toggle={this.toggle} isOpen={this.state.modal} /> -->
</div>
