.containerFmb {
  background: #ffffff;
}

.app {
  padding: 0 0 0 0;
  background: #872175;
}

.navbar {
  padding: 0.5rem 0.1rem;
}

.subHeader {
  background: #e6d0e3;
  color: #872175;
  font-weight: bold;
  font-size: 11pt;
}

.nav-link {
  padding: 0.1rem 0rem;
}

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.dropdown-toggle:after {
  display: none;
}
