footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f8f8f8;
}

.footerMenu {
  padding-left: 32%;
  padding-right: 32%;
  padding-top: 10px;
}

.textEnabled {
  color: #872175;
  font-size: 12px;
}

.textDisabled {
  color: #444;
  font-size: 12px;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}
