<div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-4">
          <a routerLink="/payment" class="pointer">
            <div class="form-group">
              <img src="{{ paymentImg }}" />
              <div class="{{ paymentText }}">Registrar pago</div>
            </div>
          </a>
        </div>
        <div class="col-4">
          <a routerLink="/report" class="pointer">
            <div class="form-group">
              <img src="{{ reportImg }}" />
              <div class="{{ reportText }}">Reporte de pagos</div>
            </div>
          </a>
        </div>
        <div class="col-4">
          <div class="form-group">
            <a routerLink="/print">
              <img src="{{ printImg }}" />
              <div class="{{ printText }}">Reimprimir orden</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
